<!-- <div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                   
                    
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: black; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div><br>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">SUBMIT</button>
                    
                  </div>
                

            </div>

        </div>

    </div>

</div>  -->

    
 
<html>
<body>

        ...<div class="container">
          <form action="#" [formGroup]="form" (keydown.enter)="onSubmit()">
            <div class="title">Login</div>
            <div class="input-box underline">



              <input type="text" autofocus  formControlName="email" placeholder="Enter Your Email" required>
              <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">Email is required.</div>
                <div class="errorcls" *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">Please enter valid email address.</div> 
               
            </div>


              <div class="underline"></div>
            </div>
            <div class="input-box">
              <input type="password" formControlName="password" placeholder="Enter Your Password" required>


              <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="alert alert-danger">
                <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">Password is required.</div>
                <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['minlength']">Password should be 8 character.</div>
                <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['maxlength']">Password should not exceed 20 character.</div>
                <div class="errorcls" *ngIf="form.controls['password'].errors && form.controls['password'].errors['pattern']">Password should contain atleast one Uppercase, Lowercase, Number and Specail symbols.</div>
            </div>

              <div class="underline"></div>
            </div>
            <div class="input-box button">
              <input type="submit" name="" [disabled]="isShowLoader" (click)="onSubmit()" value="Continue">
            </div>
          </form>
          <div class="text sign-up-text">Don'T have an account? <a routerLink="/registrationform"><label for="flip">Signup now</label></a></div>
        </div>
      
      
  

</body>
</html>



                







